<?xml version="1.0" encoding="UTF-8" ?>
<config>
	<params>
		<param name="extractor" type="list" default="0" label="PARAM_EXTRACTOR" description="PARAM_EXTRACTOR_DESC">
			<option value="0">PARAM_EXTRACTOR_16</option>
			<option value="1">PARAM_EXTRACTOR_15_NATIVE</option>
			<option value="2">PARAM_EXTRACTOR_15_PEAR</option>
		</param>
		<param name="download_method" type="radio" default="0" label="PARAM_DOWNLOADER" description="PARAM_DOWNLOADER_DESC">
			<option value="0">PARAM_DOWNLOADER_FOPEN</option>
			<option value="1">PARAM_DOWNLOADER_CURL</option>
		</param>
		<param name="use_proxy" type="radio" default="0" label="PARAM_USE_PROXY" description="PARAM_USE_PROXY_DESC">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</param>
		<param name="proxy_host" type="text" default="" label="PARAM_PROXY_HOST" description="PARAM_PROXY_HOST_DESC" />
		<param name="proxy_port" type="text" default="" label="PARAM_PROXY_PORT" description="PARAM_PROXY_PORT_DESC" />
		<param name="proxy_user" type="text" default="" label="PARAM_PROXY_USER" description="PARAM_PROXY_USER_DESC" />
		<param name="proxy_pass" type="password" default="" label="PARAM_PROXY_PASS" description="PARAM_PROXY_PASS_DESC" />
		<param name="cached_update" type="radio" default="0" label="PARAM_USE_CACHED" description="PARAM_USE_CACHED_DESC">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</param> 
	</params>
</config>